$assetPath :"assets/";

$blue: #1877f2;
$green: #42b72a;

$paragraph-margin-bottom: 0;

$var-color-grey: rgb(126, 126, 126);

$gray-600: rgb(245, 245, 245);

@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  
  background: url(https://source.unsplash.com/collection/329857/1024x768) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//Chats
.chats-card-footer-show {
  p {
    margin: auto 0px;
    color: var-color-grey;
  }
}

.card-icons {
  margin: auto 4px auto 8px;
  color: var-color-grey;
}

//Chat
.messages-box {
  height: 400px;
  overflow-y: scroll;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.messenger {
  background: url(#{$assetPath}/bg_messenger.svg) repeat fixed; 
}

.audience-box {
  height: 470px;
  overflow-y: scroll;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.audience-info-header {
  background: var-color-grey;
}

.user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.message-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

